@charset "UFT-8";

@font-face {
    font-family: passion;
    src: url(fonts/Passion_One/PassionOne-Bold.ttf) format("truetype");
}

@font-face {
    font-family: sriracha;
    src: url(fonts/Sriracha/Sriracha-Regular.ttf) format("trutype");
}

@font-face {
    font-family: worksans;
    src: url(fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format(truetype);
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: passion, cursive;
    --font3: sriracha, cursive;
}
*{
    margin: 0px;
    font-size: 1em;

}

header{
    background-color: black;
    font-family: var(--font1);
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 50px;
    margin-bottom: 50px;
}

header > h1{
    font-family: var(--font2);
    font-size: 10vw;
    font-weight: normal;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 20px;
    font-weight: normal;
}

p > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

p > a:hover{
    text-decoration:underline;
}

main{
    font-family: var(--font3);
    font-size: 2vw;
    font-style: italic;
}

section{
    padding: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section#imagem1{
 background-image: url(imagens/background001.jpg);
}

section#imagem2{

    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    background-attachment: scroll;
}

.img{
    background-color: rgba(0, 0, 0, 0.363); 
    padding: 10px;
    width: 400px;
    color: white;
}